{{#if screen}}
  <div class="et-scene-window-screen {{ember-theater/joined-array screen}}" style={{childStyle}}></div>
{{/if}}
<div class="et-scene-window-main {{ember-theater/joined-array configurableClassNames}}" style={{childStyle}}>
  {{ember-theater/director
    initialScene=sceneId
    sceneRecord=sceneRecord
    theaterId=theaterId
    windowId=sceneWindowId
  }}
</div>
