<div class="theater-container">
  {{#ember-theater config=config fixtures=fixtures isFocused=true theaterId="theater1" as |theater|}}
    {{#if theater.isLoaded}}
      {{theater.director initialSceneId="demo"}}
      {{#theater.menuBar as |menuBar|}}
        {{menuBar.rewind}}
        {{menuBar.save}}
        {{menuBar.load}}
        {{menuBar.reset}}
        {{menuBar.resize}}
      {{/theater.menuBar}}
    {{else}}
      {{theater.curtain filesToPreload="backdrops:src expressions:src" completePreload=theater.completePreload}}
    {{/if}}
  {{/ember-theater}}
</div>
<div class="theater-container">
  {{#ember-theater fixtures=fixtures theaterId="theater2" as |theater|}}
    {{theater.director initialSceneId="demo"}}
  {{/ember-theater}}
</div>
